@page "/"
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Blowdart UI Demo</title>

    <base href="~/" />

    <link rel="stylesheet" href="_content/Blowdart.UI.Web/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/Blowdart.UI.Web/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="_content/Blowdart.UI.Web/lib/highlight.js/styles/atom-one-dark.min.css">
    <link rel="stylesheet" href="_content/Blowdart.UI.Web/css/blowdart.css" />
    <link rel="stylesheet" href="/theme.default.css" />
    <link rel="apple-touch-icon" sizes="57x57" href="_content/Blowdart.UI.Web/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="_content/Blowdart.UI.Web/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="_content/Blowdart.UI.Web/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="_content/Blowdart.UI.Web/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="_content/Blowdart.UI.Web/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="_content/Blowdart.UI.Web/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="_content/Blowdart.UI.Web/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="_content/Blowdart.UI.Web/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="_content/Blowdart.UI.Web/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="_content/Blowdart.UI.Web/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="_content/Blowdart.UI.Web/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="_content/Blowdart.UI.Web/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="_content/Blowdart.UI.Web/favicon-16x16.png">
    <link rel="manifest" href="_content/Blowdart.UI.Web/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="_content/Blowdart.UI.Web/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<blowdart type="typeof(App)" renderMode="ServerPrerendered" />
<script type="text/javascript" src="_content/Blowdart.UI.Web/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="_content/Blowdart.UI.Web/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="_content/Blowdart.UI.Web/lib/highlight.js/highlight.min.js"></script>
<script src="_content/Blowdart.UI.Web/js/blowdart.js"></script>
</body>
</html>
