@page "/"
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blowdart UI Demo</title>
    <base href="~/" />
    <link rel="stylesheet" href="_content/Blowdart.UI.Web/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/Blowdart.UI.Web/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="_content/Blowdart.UI.Web/lib/highlight.js/styles/atom-one-dark.min.css">
    <link rel="stylesheet" href="_content/Blowdart.UI.Web/css/blowdart.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/theme.default.css" />
    <favicons location="_content/Blowdart.UI.Web/favicons" />
</head>
<body>
<blowdart type="typeof(App)" renderMode="ServerPrerendered"/>
<div id="after-render"></div>
<script type="text/javascript" src="_content/Blowdart.UI.Web/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="_content/Blowdart.UI.Web/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="_content/Blowdart.UI.Web/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="_content/Blowdart.UI.Web/lib/highlight.js/highlight.min.js"></script>
<script src="_content/Blowdart.UI.Web/js/blowdart.js"></script>
</body>
</html>
